.mainbox-title{
    flex: 1;
    font-family: 'SBAggroB';
    font-size: 18px;
    color: #1384a7;
    border-bottom: 2px solid rgb(168, 168, 168);
}
.mainbox-top{
    display: flex;
    flex: 6;
    font-family: 'Goyang';
    margin-top: 3px;
}
.mainbox-left-contents{
    flex: 1;
}
.mainbox-left-contents div{
    margin: 5px 0;
}
.red{
    background-color: rgb(250, 21, 90);
    color:white;
    border-radius: 3px;
    padding: 1px 5px;
}
.blue{
    background-color: rgb(123, 59, 226);
    color:white;
    border-radius: 3px;
    padding: 1px 5px;
}
.mainbox-right-contents{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row{
    border-bottom: 2px dotted rgb(156, 156, 156);
}
.row div{
    display: inline-block;
    width: 48%;
}
.row div span{
    color: rgb(81, 0, 187);
}
.mainbox-bottom{
    display: flex;
    flex: 13;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 151, 221);
}